thead.darkHeader > tr {
    background-color: #6D6E72;
}

thead.darkHeader > tr > td {
    color: white;
    font-weight: bold;
    padding: 5px;
}

/****
 *
 ****/
 
#tripProblemReport {
	position: relative;	
}

div#tripProblemReportMap {
	width: 350px;
	height: 300px;
}

#tripProblemReportTable {
	position: absolute;
	top: 0px;
	left: 360px;	
}

#tripProblemReportTable td:first-child {
	font-weight: bold;
	text-align: right;
	padding-right: 1em;	
}

#tripProblemReportTable td:first-child label {
	font-weight: bold;
	text-align: right;	
}

#vehicleLocationRecords {
  margin-top: 1em;	
}

#vehicleLocationRecordsTable td {
	text-align: center;
}