target
release.properties
pom.xml.releaseBackup
.settings
.project
.classpath
.idea
**/bin/*
*.iml
*.class
git.properties
.DS_Store

onebusaway-admin-webapp/overlays/

onebusaway-enterprise-acta-webapp/overlays/

onebusaway-enterprise-webapp/overlays/
