# OneBusAway Application Suite

This is the primary documentation for all the application modules the make up the primary
[OneBusAway](http://onebusaway.org) website and application framework. 
  
**Current Version:** ${currentVersion}

Details on all releases can be found in the [Release Notes](./release-notes.html).

#set( $H = '#' ) ## When using velocity templating (a .vm file), the ## indicates a Velocity comment, which makes Markdown section headers tricky 
  
$H$H Functionality

The OneBusAway application suite\'s primary function is to share real-time public transit information with riders across
a variety of interfaces:

* [OneBusAway Web](features/web.html) - A variety of web interfaces to transit data
    * A standard web interface to transit data, including maps and stop pages with real-time info
    * A mobile-optimized version of the web interface for mobile browsers
    * A text-only version of the web interface for more-basic mobile browsers
* [OneBusAway REST API](api/where/index.html) - A RESTful web-service that can be used to quickly write applications
built on top of transit data.  This API powers:
    * [OneBusAway iOS (iPhone)](https://github.com/OneBusAway/onebusaway-ios)
    * [OneBusAway Android](https://github.com/OneBusAway/onebusaway-android)
    * [OneBusAway Windows Phone](https://github.com/OneBusAway/onebusaway-windows-phone)
    * [OneBusAway Windows 8](https://github.com/OneBusAway/onebusaway-windows8)
    * [OneBusAway Windows 10 (under development)](https://github.com/OneBusAway/onebusaway-windows10)
    * [OneBusAway Fire Phone (based on Android)](https://github.com/OneBusAway/onebusaway-android)
    * [OneBusAway Alexa (for Amazon Echo, etc.)](https://github.com/OneBusAway/onebusaway-alexa)
    * [OneBusAway Glassware (for Google Glass)](https://github.com/OneBusAway/onebusaway-android/pull/219)
    * [OneBusAway for Pebble Smartwatch](https://github.com/onebusaway/onebusaway-pebbletime)
* [OneBusAway Phone](features/phone-and-sms.html) - A Interactive Voice Response (IVR) phone application for accessing real-time transit information
* [OneBusAway SMS](features/phone-and-sms.html) - An SMS service for accessing real-time transit information
* [OneBusAway Sign Mode](features/sign-mode.html) - A interface mode optimized for large public displays

These interfaces are powered by a transit-data back-end module that combines raw transit data (GTFS, GTFS-realtime, etc)
into an optimized data-bundle appropriate for application development.

$H$H Quick-Start

Want to quickly get started with OneBusAway?  Check out the [Quick-Start Guide](guides/quickstart-guide.html).

$H$H Guides

There are a number of guides to help get you started with installing, configuring, and running OneBusAway:

* [Quick-Start Guide](guides/quickstart-guide.html)
* [Installation Guide](guides/installation-guide.html)
* [Real-Time Configuration Guide](guides/realtime-configuration-guide.html)

If those guides don\'t help, there are [other resources for getting help](getting-help.html).
