# OneBusAway Application Suite

This is the primary documentation for all the application modules the make up the primary
[OneBusAway](http://onebusaway.org) website and application framework. 
  
**Current Version:** ${currentVersion}

Details on all releases can be found in the [Release Notes](./release-notes.html).

#set( $H = '#' ) ## When using velocity templating (a .vm file), the ## indicates a Velocity comment, which makes Markdown section headers tricky 
  
$H$H Functionality

The OneBusAway application suite\'s primary function is to share real-time public transit information with riders across
a variety of interfaces:

* OneBusAway Webapp - A variety of web interfaces to transit data
    * A standard web interface to transit data, including maps and stop pages with real-time info
    * A mobile-optimized version of the web interface for mobile browsers
    * A text-only version of the web interface for more-basic mobile browsers
* [OneBusAway REST API](api/where/index.html) - A RESTful web-service that can be used to quickly write applications
built on top of transit data.  This API powers:
    * The OneBusAway [iPhone application](https://code.google.com/p/onebusaway/wiki/MobileApp_iPhone)
    * The OneBusAway [Android application](https://code.google.com/p/seattle-bus-bot/)
    * The OneBusAway [Windows Phone 7 application](https://onebusawaywp7.codeplex.com) 
* OneBusAway SMS - An SMS service for accessing real-time transit information
* OneBusAway Phone - A Interactive Voice Response (IVR) phone application for accessing real-time transit information

These interfaces are powered by a transit-data back-end module that combines raw transit data (GTFS, GTFS-realtime, etc)
into an optimized data-bundle appropriate for application development.

$H$H Quick-Start

Want to quickly get started with OneBusAway?  Check out the [OneBusAway Quick-Start Bundles](../../onebusaway-quickstart/current/).

$H$H Guides

There are a number of guides to help get you started with installing, configuring, and running OneBusAway:

* [Installation Guide](guides/installation-guide.html)
* [Real-Time Configuration Guide](guides/realtime-configuration-guide.html)

If those guides don\'t help, there are [other resources for getting help](getting-help.html).
