# Release Notes

#set( $H = '#' ) ## When using velocity templating (a .vm file), the ## indicates a Velocity comment, which makes Markdown section headers tricky

$H$H ${currentVersion}

* Make `onebusaway-quickstart` part of the main `onebusaway-application-modules` module set.
* Add a ui-only webapp artifact to `onebusaway-combined-webapp`.
* Tweak support for GTFS-realtime, including support for new OBA-specific delay field.
* Initial support for fixed-schedule trips with a headway-in-name-only frequency label, as indicated by frequencies.txt
  label_only feature proposal.
* Fix to make crossdomain action work whether its being called by the Struts Convention plugin OR the Rest2 plugin.
* Migrate to GitHub.
* Full Documentation:  ${site_base_url}/onebusaway-application-modules/${currentVersion}/

$H$H 1.0.1

* More flexible trip matching in GTFS-realtime support
* Support for running transit data bundle building as a startup phase of webapps
* Expand onebusaway-combined-webapp to include SMS and phone support
* Expand onebusaway-combined-webapp to generate an additional API-only webapp artifact
* Move SMS actions into /sms namespace for onebusaway-sms-webapp
* Make SMS abbreviations optional in onebusaway-sms-webapp
* Additional documentation
* Full Documentation:  ${site_base_url}/onebusaway-application-modules/1.0.1/

$H$H 1.0.0

* Initial Site Documentation
* Bump to require Maven 3
* Full Documentation:  ${site_base_url}/onebusaway-application-modules/1.0.0/

$H$H 0.0.1

* Initial release