<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2011 Brian Ferris <bdferris@onebusaway.org>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app id="starter" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>OneBusAway QuickStart Server</display-name>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:application-context-webapp.xml classpath:data-sources.xml</param-value>
  </context-param>
    
  <!-- Filters -->
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
<!--     <init-param> -->
<!--     	<param-name>logLevel</param-name> -->
<!--     	<param-value>TRACE</param-value> -->
<!--     </init-param> -->
  </filter>
  <filter>
    <filter-name>struts-prepare-and-execute</filter-name>
    <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts-prepare-and-execute</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Listeners -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>

    <!-- Welcome file lists -->
  <welcome-file-list>
    <welcome-file>index.action</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jspx</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>