<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2011 Metropolitan Transportation Authority

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app id="starter" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>onebusaway-enterprise-webapp</display-name>

        <resource-ref>
          <description>DB Connection</description>
          <res-ref-name>jdbc/appDB</res-ref-name>
          <res-type>javax.sql.DataSource</res-type>
          <res-auth>Container</res-auth>
        </resource-ref>
	<!-- this should come from context (context.xml -->
	<!-- 
	<env-entry>
	        <env-entry-name>xwikiUrl</env-entry-name>
	        <env-entry-type>java.lang.String</env-entry-type>
	        <env-entry-value>http://your-server.com/xwiki</env-entry-value>
    </env-entry>
	<env-entry>
	        <env-entry-name>wikiDocumentEditUrl</env-entry-name>
	        <env-entry-type>java.lang.String</env-entry-type>
	        <env-entry-value>"http://your-server.com/xwiki/bin/edit/Main/%{documentName}</env-entry-value>
    </env-entry>
	<env-entry>
	        <env-entry-name>wikiAttachmentUrl</env-entry-name>
	        <env-entry-type>java.lang.String</env-entry-type>
	        <env-entry-value>http://your-server.com/xwiki/bin/download/Main/%{documentName}/%{attachmentName}</env-entry-value>
    </env-entry>
     -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath:data-sources.xml
            classpath:org/onebusaway/enterprise/webapp/application-context-webapp.xml
        </param-value>
	</context-param>

	<!-- Filters -->
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
<!-- 	    <init-param> -->
<!--     		<param-name>logLevel</param-name> -->
<!--     		<param-value>TRACE</param-value> -->
<!--     	</init-param> -->
	</filter>
	<filter>
		<filter-name>requestAndResponseContextFilter</filter-name>
		<filter-class>org.onebusaway.users.impl.RequestAndResponseContextFilter</filter-class>
	</filter>
	<filter>
		<filter-name>action2-cleanup</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareFilter</filter-class>
	</filter>
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter>
		<filter-name>action2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsExecuteFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>requestAndResponseContextFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>action2-cleanup</filter-name>
		<url-pattern>*.action</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>action2</filter-name>
		<url-pattern>*.action</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<!-- Listeners -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Welcome file lists -->
	<welcome-file-list>
		<welcome-file>index.action</welcome-file>
	</welcome-file-list>

	<!-- MIME types -->
	<mime-mapping>
		<extension>ico</extension>
		<mime-type>image/x-icon</mime-type>
	</mime-mapping>
</web-app>