.notificationOptions {
	margin-top: 1em;
	font-size: 1.25em;
}

.notificationMinutesBeforePanel {
	
}

.notificationMinutesBeforeTextBox {
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 2em;
  text-align: center;
  font-size: 1em;
}

.notificationMethodsPanel {
  margin-top: 0.5em;
}

.notificationMethodPanel {
	
}

.notificationDefaultsPanel {
  margin-top: 0.5em;
}

.notificationDefaultsText {

}

.notificationDefaultsButton {

}