.CheckBoxListWidget {
  border-top: 2px solid #707070;
  border-left: 2px solid #707070;
  border-right: 2px solid #E6E6E6;
  border-bottom: 2px solid #E6E6E6;
  margin: 2px;
  padding: 0px;
}

.CheckBoxListWidgetItem {
  margin: 0px 4px;
  font-family: sans-serif;
  font-size: 10pt;
}

.CheckBoxListWidgetItemDisabled {
  color: #808080;
}
