<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2011 Cambridge Systematics

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app id="starter" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>One Bus Away Nextbus API Server</display-name>
    <resource-ref>
          <description>DB Connection</description>
          <res-ref-name>jdbc/appDB</res-ref-name>
          <res-type>javax.sql.DataSource</res-type>
          <res-auth>Container</res-auth>
    </resource-ref>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath:data-sources.xml
            classpath:org/onebusaway/nextbus/application-context-webapp.xml
        </param-value>
	</context-param>

	<!-- Filters -->
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>

		<!-- sets up log level (will be logged to context log) can be: TRACE, DEBUG, 
			INFO (default), WARN, ERROR, FATAL, log4j, commons, sysout:{level} (ie, sysout:DEBUG) 
			if you are having trouble using normal levels use sysout:DEBUG (default WARN) -->
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>INFO</param-value>
		</init-param>

		<!-- set the amount of seconds the conf file will be checked for reload 
			can be a valid integer (0 denotes check every time, -1 denotes no reload 
			check, default -1) -->
		<init-param>
			<param-name>confReloadCheckInterval</param-name>
			<param-value>-1</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>struts-prepare-and-execute</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-prepare-and-execute</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<!-- Listeners -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Welcome file lists -->
	<welcome-file-list>
		<welcome-file>index.action</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.jspx</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>