.arrivalStatusOnTime {
 	color: green;
}

.arrivalStatusOnTime a {
	color: green;
}

.arrivalStatusNoInfo {
	color: black;
}

.arrivalStatusNoInfo a {
	color: black;	
}
  
.arrivalStatusEarly {
	color: red;
}

.arrivalStatusEarly a {
	color: red;
}

.arrivalStatusDelayed {
	color: blue;
}

.arrivalStatusDelayed a {
	color: blue;
}

.arrivalStatusDepartedOnTime {
	color: green;
}

.arrivalStatusDepartedOnTime a {
	color: green;
}

.arrivalStatusDepartedNoInfo {
	color: black;	
}

.arrivalStatusDepartedNoInfo a {
	color: black;	
}

.arrivalStatusDepartedEarly {
	color: red;	
}

.arrivalStatusDepartedEarly a {
	color: red;	
}

.arrivalStatusDepartedDelayed {
	color:  blue;
}

.arrivalStatusDepartedDelayed a {
	color:  blue;
}

.arrivalStatusCancelled {
	color: red;
}

.arrivalStatusCancelled a {
	color: red;
}