<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2008 Brian Ferris

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->

<web-app id="starter" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>One Bus Away Server</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value> classpath:data-sources.xml classpath:data-sources-server.xml classpath:applicationContext.xml
            classpath:applicationContext-server.xml </param-value>
    </context-param>

    <!-- Filters -->
    <filter>
        <filter-name>action2-cleanup</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
    </filter>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>action2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>
    <filter>
        <filter-name>ResponseHeaderFilter</filter-name>
        <filter-class>edu.washington.cs.rse.transit.web.ResponseHeaderFilter</filter-class>
        <init-param>
            <param-name>Cache-Control</param-name>
            <param-value>max-age=22896000</param-value>
        </init-param>
        <init-param>
            <param-name>:match</param-name>
            <param-value>^.*\.cache\.(html|js|png|gif|jpg|css)$</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>action2-cleanup</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>action2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResponseHeaderFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Listeners -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <!-- Servlets -->
    <servlet>
        <servlet-name>jspSupportServlet</servlet-name>
        <servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>OneBusAwayServiceImpl</servlet-name>
        <servlet-class>edu.washington.cs.rse.transit.web.oba.common.server.OneBusAwayServiceServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OneBusAwayServiceImpl</servlet-name>
        <url-pattern>/onebusaway</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResourceServlet</servlet-name>
        <servlet-class> edu.washington.cs.rse.transit.web.oba.gwt.resources.ImmutableResourceBundleServlet 
        </servlet-class>
        <init-param>
            <param-name>prefix</param-name>
            <param-value>/resources</param-value>
        </init-param>
        <init-param>
            <param-name>development-mode</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>resource:common</param-name>
            <param-value>edu.washington.cs.rse.transit.web.oba.common.resources.OneBusAwayCommonResources</param-value>
        </init-param>
        <init-param>
            <param-name>resource:iphone</param-name>
            <param-value> edu.washington.cs.rse.transit.web.oba.iphone.resources.OneBusAwayIPhoneResources 
            </param-value>
        </init-param>
        <init-param>
            <param-name>resource:text</param-name>
            <param-value> edu.washington.cs.rse.transit.web.oba.text.resources.OneBusAwayTextResources </param-value>
        </init-param>
        <load-on-startup>6</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResourceServlet</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>

    <!-- Welcome file lists -->
    <welcome-file-list>
        <welcome-file>index.action</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.jspx</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.html</url-pattern>
        </jsp-property-group>
    </jsp-config>
</web-app>