<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2011 Metropolitan Transportation Authority

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app id="starter" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>onebusaway-admin-webapp</display-name>

    <!-- uncomment for email -->
<!--  <resource-ref>-->
<!--    <description>SES Connection</description>-->
<!--    <res-ref-name>mail/Session</res-ref-name>-->
<!--    <res-type>javax.mail.Session</res-type>-->
<!--    <res-auth>Container</res-auth>-->
<!--  </resource-ref>-->

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
            classpath:data-sources.xml
            classpath:org/onebusaway/admin/webapp/application-context-webapp.xml
        </param-value>
  </context-param>
	
	<!-- Filters -->
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter>
    <filter-name>requestAndResponseContextFilter</filter-name>
    <filter-class>org.onebusaway.users.impl.RequestAndResponseContextFilter</filter-class>
  </filter>
  <filter>
    <filter-name>action2-cleanup</filter-name>
    <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareFilter</filter-class>
  </filter>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>
  <filter>
    <filter-name>action2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.filter.StrutsExecuteFilter</filter-class>
  </filter>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <!-- https://bz.apache.org/bugzilla/show_bug.cgi?id=62343 wildcard is no longer default -->
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>httpHeaderSecurity</filter-name>
        <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>hstsEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>hstsMaxAgeSeconds</param-name>
            <param-value>31536000</param-value>
        </init-param>
        <init-param>
            <param-name>hstsIncludeSubDomains</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>obaHeaderSecurity</filter-name>
        <filter-class>org.onebusaway.container.ObaSecurityHeaderFilter</filter-class>
        <init-param>
            <param-name>contentSecurityPolicyOption</param-name>
            <param-value>on</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
 <filter-mapping>
    <filter-name>requestAndResponseContextFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>action2-cleanup</filter-name>
    <url-pattern>*.action</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>*.action</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
    <filter-mapping>
        <filter-name>httpHeaderSecurity</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>obaHeaderSecurity</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

	<!-- Listeners -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
   <listener>
	 <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  </listener>
   <listener>
	 <listener-class>org.onebusaway.admin.util.LocalizationListener</listener-class>
  </listener>


  <servlet>
    <servlet-name>Jersey Spring Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
      <init-param>
          <param-name>jersey.config.server.tracing</param-name>
          <param-value>ALL</param-value>
      </init-param>
      <init-param>
          <param-name>jersey.config.server.provider.packages</param-name>
          <param-value>org.onebusaway.admin.service.bundle.api
              org.onebusaway.admin.service.api
              org.onebusaway.admin.service.api.agency_metadata
          </param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Spring Web Application</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Redirect Servlet</servlet-name>
    <servlet-class>org.onebusaway.admin.servlets.RedirectServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect Servlet</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>transitime</servlet-name>
	<servlet-class>org.onebusaway.admin.servlets.CustomProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transitime</servlet-name>
	<url-pattern>/transitime/*</url-pattern>
  </servlet-mapping>
    <error-page>
        <error-code>403</error-code>
        <location>/redirect?uri=/error.action?type=Forbidden%20or%20CSRF%20Token%20Missing</location>
    </error-page>
  <error-page>
    <error-code>404</error-code>
      <location>/redirect?uri=/error/404.action</location>
  </error-page>
  <error-page>
    <exception-type>org.springframework.transaction.CannotCreateTransactionException</exception-type>
    <location>/redirect?uri=/down.action</location>
  </error-page>
    <error-page>
        <exception-type>org.springframework.security.web.csrf.CsrfException</exception-type>
        <location>/redirect?uri=/error.action?type=CsrfException</location>
    </error-page>
    <error-page>
        <exception-type>org.springframework.remoting.RemoteConnectFailureException</exception-type>
        <location>/redirect?uri=/error.action?type=Cannot%20Connect%20To%20TDS</location>
    </error-page>
  <error-page>
    <exception-type>java.lang.RuntimeException</exception-type>
    <location>/redirect?uri=/error.action?type=RuntimeException</location>
  </error-page>
    <session-config>
        <session-timeout>30</session-timeout>
        <!-- for production deployments please enable the following -->
<!--        <cookie-config>-->
<!--            &lt;!&ndash; this is default &ndash;&gt;-->
<!--            <http-only>true</http-only>-->
<!--            &lt;!&ndash; only transmit cookies of HTTPS &ndash;&gt;-->
<!--            &lt;!&ndash; this may have side effects to HTTP users &ndash;&gt;-->
<!--            <secure>true</secure>-->
<!--        </cookie-config>-->
    </session-config>

</web-app>